.container {
  background: #eec;
}

.actions {
	display: inline-block;
}
.actions p {
	margin-left: 5px;
}
body {
  font: Helvetica;
  background: #333;
  margin-left: 50px;
  margin-right: 50px;
}

#comic_box{
	text-align: center;
  min-width: 1300px;
}

#description_box {
	margin-top: 50px;
	margin-right: 50%;
}

#description_box p {
	margin-left: 50px;
	margin-right: 50px;
}

div {
	-moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
	background: #cca;
	color: #444;
	font-size: 200%;
}

.field {
	display:inline-block;
}

.field p{
	margin-left: 5px;
	margin-right: 5px;
}

h3 {
	font-size: 120;
}
h6 {
	font-size: 800%;
}

header {
  padding-top: 60px;
}

header img {
  padding: 1em;
  background: #fff;
}

#image_box {
	
	min-width: 500px;
	max-width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	
}

li {
	display: inline;
	list-style-type: none;
	white-space: nowrap;
	margin-left: 20px;
	margin-right: 20px;
}


#nav_bar {
	
	min-width: 400px;
	margin-left: 30%;
	margin-right: 30%;
	color: #544A2B;
	text-align: center;

	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
}


#title_block {
	
	margin-left: 30%;
	margin-right: 30%;
	min-width: 400px;
	text-align: center;
	
	-moz-border-radius:    0px;
    -webkit-border-radius: 0px;
    border-radius:         0px;
}





/* Links */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

div a {
  color: #000;
  text-decoration: none;
}

div a:hover {
  color: #FFF;
  text-decoration: none;
}

div a:visited {
  color: #000;
}