.container {
  background: #eec;
}

.actions {
	display: inline-block;
}
.actions p {
	margin-left: 5px;
}
body {
  font: Helvetica;
  background: #333;
  text-align: center;
}

#centered {
  background: #888;
  padding: 5px;
  min-width: 1300px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
}

#comic_box {
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 1300px;
  font-size: 50%;
}

#comment_box {
  background: #888;
  
	margin-left: 5%;
  -moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
  max-width: 500px;
}

#comment_box p {
  background: #888;
  text-align: left;
  margin-right: 50px;
 margin-right: 5%;
  float: left;
}

#description_box {
  background: #888;
  margin-left:200px;
	margin-right: 5%;
  min-width: 500px;
  -moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
  float: right;
}

#description_box p {
  text-align: left;
	margin-left: 15px;
	margin-right: 50px;
}

div {
	-moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
	background: #cca;
	color: #444;
	font-size: 200%;
}

#edit {
  margin-right: 40%;
  margin-left: 40%;
  min-width: 200px;
}

.field {
	text-align: left;
  margin-right:35%;
  margin-left:35%;
  min-width: 250px;
}

.field p{
  padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

h3 {
	font-size: 20;
}
h6 {
	font-size: 600%;
}

header {
  padding-top: 60px;
}

header img {
  padding: 1em;
  background: #fff;
}

#image_box {
	
	min-width: 500px;
	max-width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	
}

li {
	display: inline;
	list-style-type: none;
	white-space: nowrap;
	margin-left: 20px;
	margin-right: 20px;
}


#nav_bar {
	
	min-width: 400px;
	margin-left: 30%;
	margin-right: 30%;
	color: #544A2B;
	text-align: center;

	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
}

#profile_box {
  padding: 10px;
}

#title_block {
	
	margin-left: 30%;
	margin-right: 30%;
	min-width: 400px;
	text-align: center;
	
	-moz-border-radius:    0px;
    -webkit-border-radius: 0px;
    border-radius:         0px;
}





/* Links */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

div a {
  color: #000;
  text-decoration: none;
}

div a:hover {
  color: #FFF;
  text-decoration: none;
}

div a:visited {
  color: #000;
}