<div id = "profile_box"><h1>
  <%= image_tag "me.png" %>
  <%= @user.name %>
  <% if current_user.admin? %>
  | <%= link_to "delete", @user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{@user.name}" %>
  <% end %>
</h1></div>