      <h3><strong>
          <%= if( params[:id].to_i > Comic.last.id)
               "This comic doesn't exist yet you should be more patient"              
   	  	  	  elsif (@comic)
       	   	    @comic.name
   	   	  	  else
   	   	  	  	"You haven't uploaded anything yet, Will."
   	   	  	  end
       	   	  %></strong></h3>
       	  
       	   	  
       	  <%= if( params[:id].to_i > Comic.last.id)
                image_tag "does_not_exist.png"                
   	  	  	  elsif (@comic)
       	   	    image_tag @comic.avatar.url, :title => @comic.title_text
   	   	  	  else
   	   	  	  	image_tag "missing.png"
   	   	  	  end
       	   	  %>