
<br/>
<p>
	<%= link_to (image_tag "me.png"), "/will" %>
	
	<%= if (@comic)
		@comic.description
	elsif (Comic.last.nil?)
    "Move along"
  elsif(params[:id].to_i > Comic.last.id)
    "You should be ashamed how did you even get here?"
  elsif(Comic.last)
		Comic.last.description
	else
		"I'm working on it!"
	end	
		
	%>
</p>
<br/>