<br/>

<%= if( Comic.last.nil? )
        image_tag "does_not_exist.png"                
    elsif (@comic)
       	image_tag @comic.avatar.url, :title => @comic.title_text
    else
   	   	image_tag "missing.png"
    end
%>

<br/>

<%= if( Comic.last.nil? )
               "This comic doesn't exist yet you should be more patient"              
	  elsif (@comic)
       	   	    @comic.name
	  else
	  	"You haven't uploaded anything yet, Will."
	  end
%>

<% if signed_in? && current_user.admin? %>
    <li><%= link_to "Edit Comic", edit_comic_path(@comic) %></li>
<% end %>