<div id = "comic_box">
			
			<%=  render :partial => "pages/comic" %>
			<br/>
			<%=  render :partial => "pages/left_navigation" %>
			<%=  render :partial => "pages/right_navigation" %>
</div>

<div id="description_box">
	<%=  render :partial => "pages/description"%>
</div>